<!DOCTYPE html>
<html>
<head>
  <title>Mouth Endoscope</title>
	<link rel="stylesheet" href="/application.css" type="text/css" media="all">
	<script src="/jquery.js" type="text/javascript"></script>
	<script src="/json2.js" type="text/javascript"></script>
	<script src="/underscore.js" type="text/javascript"></script>
	<script src="/backbone.js" type="text/javascript"></script>
	<script src="/application.js" type="text/javascript"></script>
</head>
<body>

<div id="header">
  <h1>Mouth Endoscope</h1>
</div>
<div id="dashboards">
  <ul>
    
  </ul>
  <a href="#" class="add-dashboard">Add Dashboard</a>
</div>


</body>
</html>
